### Gradle ###
HELP.md
.gradle
build/
# Gradleスクリプト 実行ファイル
!gradle-wrapper.jar
!gradle-wrapper.properties
# Gradle スクリプト
!gradlew
!gradlew.bat

!**/src/main/**/build/
!**/src/test/**/build/

### STS(Spring Tool Site) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# app profiles
application-local.properties
application-pro.properties

### Java ###
*.jar
*.war

### JUnit evidence file  ###
src/test/resources/**/*_result.txt

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

