<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 
	Mapperクラスのパッケージと同様のディレクトリを作成し、そこにxmlを作成する。
	またはapplication.propertiesファイルでxmlファイルのパスを指定する。
 -->

<!--Mapperの定義 完全修飾名でMapperクラスを指定-->
<mapper namespace="com.example.demo.mapper.UserMapper">

	<!-- type 取得値を格納するEntityクラスを指定 -->
	<resultMap id="userMap" type="com.example.demo.entity.UserTable">
		<!-- column=カラム名 jdbcType=カラムの型名 property=Entityクラスのメンバ変数名 -->
		<result column="NO" 	jdbcType="INTEGER" 	property="no" />
		<result column="NAME"	jdbcType="VARCHAR" 	property="name" />
		<result column="AGE" 	jdbcType="INTEGER" 	property="age" />
		<result column="BIRTHDAY"	jdbcType="DATE"		property="birthday" />
	</resultMap>

	<!-- SQL定義 -->
	
	<!-- id=Mapperクラスのメソッド名 resultType=戻り値の型 -->
	<select id="findMaxNo" resultType="int">
		SELECT
			COALESCE(MAX(NO), 0)
		FROM
			USER_TABLE
	</select>
	
	<!-- id=Mapperクラスのメソッド名 resultMap=上記で指定したid parameterType=クエリパラメータの型 -->
	<select id="findByNo" resultMap="userMap" parameterType="long">
		SELECT
			*
		FROM
			USER_TABLE
		WHERE
			NO = #{no}
	</select>
	
	<insert id="insert" parameterType="com.example.demo.entity.UserTable">
		INSERT INTO
			USER_TABLE (
				  NO
				, NAME
				, AGE
				, BIRTHDAY
			) SELECT
				COALESCE(MAX(NO), 0) + 1
				, #{name}
				, #{age}
				, #{birthday}			
			FROM
				USER_TABLE
	</insert>
	
</mapper>